@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(30px); /* Desplaza el elemento 30px hacia la derecha */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Mueve el elemento a su posición original */
    }
}

.fadeInRight {
  opacity: 0; /* Comienza oculto */
  animation: fadeInRight 1s ease-in forwards; /* Animación de 1 segundo */
}

.portada-detalle {
    position: relative;
    height: 750px;
    overflow-y: visible;
    transform: translateY(-142px);
    margin-bottom: -4rem;
    .fondo-portada {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;
        filter: brightness(.7);
    }
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .box-texto {
            h2 {
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                text-transform: uppercase;
                span {
                    color: #fff;
                    background: $azulT;
                    padding: .2rem .4rem;
                }
            }
            h1 {
                color: #fff;
                font-weight: 300;
                font-size: 62px;
                text-transform: uppercase;
                margin: 0px;
                margin-bottom: 2rem;
            }
        }
        .box-datos {
            min-width: 450px;
            display: flex;
            justify-content: space-between;
            img {
                margin-bottom: .5rem;
            }
            p {
                color: #fff;
                font-weight: bold;
                margin-bottom: 0px;
            }
        }
    }
    .box-promo {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 75PX;
        background: $azulT;
        display: flex;
        align-items: center;
        H2 {
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 0px;
            img {
                margin-right: .2rem;
                transform: translateY(-4px);
            }
        }
    }
}

.menu-detalle {
    background: #fff;
    width: 80%;
    margin: 0px;
    height: 142px;
    position: sticky;
    top: 0;
    z-index: 99;
    .box-menu-detalle {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 4rem;
        ul {
            width: 100%;
            max-width: 1000px;
            list-style: none;
            padding-left: 0px;
            display: flex;
            justify-content: space-around;
            margin-bottom: 0px;
            li {
                a {
                    display: inline-flex;
                    text-transform: uppercase;
                    color: $black18;
                }
            }
        }
    }
}

.swiper-bloques {
    .swiper-slide {
        width: 643px !important;
        img {
         width: 643px !important;  
        }
        .box-texto {
            height: 100%;
            position: absolute;
            top: 30%;
            padding-left: 2rem;
            padding-right: 2rem;
            h4 {
                font-family: "Alex Brush", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 53px;
                color: #fff;
                margin-bottom: 2rem;
            }
            p {
                color: #fff;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
    .swiper-slide.azul img,
    .swiper-slide.blanco_1 img,
    .swiper-slide.negro img,
    .swiper-slide.azul_oscuro img,
    .swiper-slide.blanco_2 img {
        visibility: hidden;
    }
    .swiper-slide.azul {
        background: #005FAE;
    }
    .swiper-slide.blanco_1 {
        background: #F2F2F2;
    }
    .swiper-slide.negro {
        background: $black18;
    }
    .swiper-slide.azul_oscuro {
        background: #073855;
    }
    .swiper-slide.blanco_2 {
        background: #fff;
    }

    .swiper-slide.blanco_1,
    .swiper-slide.blanco_2 {
        .box-texto {
            h4, p {
                color: $black39;
            }
        }
    }


}

section.ubicacion {
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    height: 669px;
    .container-fluid {
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .box {
          width: 50%;
          &.dos {
              img {
                  width: 100%;
              }
          }
      }
    }
    .box-texto {
        p {
            font-size: 20px;
            font-weight: 400;
            color: $black39;
            max-width: 90%;
        }
    }
    .info-entorno {
        display: flex;
        flex-wrap: wrap;
        h4 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            color: $black39;
        }
        .box-info {
            width: 33%;
            margin-bottom: 1rem;
            p {
                font-weight: bold;
                font-size: 14px;
                color: $black39;
            }
        }
        
    }
    .como-llegar {
        h4 {
            font-size: 16px;
            font-weight: bold;
            color: $black39; 
        }
    }
}

.tour {
    background: $bg-grisEA;
    padding: 4rem 0rem;
    .container {
        h2 {
            text-align: center;
            font-size: 38px;
            font-weight: 500;
            color: $azul;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
        .w-tour {
            .menu-tour {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 1.5rem;
                a {
                    margin: 0rem 1.5rem;
                    font-size: 20px;
                    color: $black39;
                    transition: all 0.3s ease;
                    position: relative;
                    
                    &.activo {
                     color: $azul;
                    }
                    &:hover {
                     color: $azul
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -6px;
                        left: 0;
                        width: 0%;
                        height: 1.9px;
                        background-color: $azul;
                        transition: width 0.3s ease; 
                    }
                    &:hover:after {
                        width: 100%;
                    }
                    &.activo:after {
                        width: 100%;
                    }
                }
            }
            .v-tour {
                .panel-tour {
                    display: none;
                    &.activo {
                        display: flex;
                    }
                }
            }
        }
    }
}

.masterplan {
    background: $bg-grisEA;
    padding: 4rem 0rem;
    .container {
        .row {
            .box-img {
                figure {
                    img {
                        width: 100%;
                    }
                }
            }
            .box-texto {
                display: flex;
                align-items: center;
                .cont {
                    h2 {
                        font-size: 38px;
                        text-transform: uppercase;
                        font-weight: 500;
                        color: $azul;
                    }
                    p {
                        font-size: 18px;
                        font-weight: 400;
                        color: $black39;
                    }
                    ul {
                        list-style: none;
                        padding-left: 0px;
                        li {
                            display: flex;
                            align-items: center;
                            margin-bottom: 1rem;
                            height: 45px;
                            border-bottom: 1px solid #97A1A6;
                            padding-bottom: 1rem;
                            font-size: 16px;
                            font-weight: bold;
                            color: $black39;
                            span {
                                width: 30px;
                                height: 30px;
                                background: $black;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: .5rem;
                                color: #fff;
                                font-weight: bold;
                                border-radius: 100%;
                                border: 1px solid #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contacto-ejecutivo {
    padding: 4rem 0rem;
    background: #F2F2F2;
    .box-datos {
        h2 {
            font-size: 32px;
            font-weight: 700;
            color: $black18;
            margin-bottom: 1rem;
        }
        span {
            color: $azul;
            font-size: 14px;
            font-weight: bold;
            img {
                margin-right: .3rem;
                transform: translateY(-2px);
            }
        }
        p {
            font-size: 20px;
            font-weight: 300;
            color: $black18;
            &.tel {
                margin-bottom: 0.2rem;
            }
        }
    }
    .cont-personas {
        .eje {
            display: flex;
            margin-bottom: 2rem;
            .box-01 {
                width: 50%;
                padding: 0rem 2rem;
                img {
                    border-radius: 100%;
                }
                h4 {
                    color: $black39;
                    text-align: center;
                    font-weight: bold;
                    margin-top: 1rem;
                }
                a {
                    display: block;
                    text-align: center;
                    color: #B5B6B7;
                    font-size: 16px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .box-02 {
                width: 50%;
                display: flex;
                flex-direction: column;
                a {
                    display: block;
                    width: 100%;
                    margin-bottom: 1rem;
                    text-align: center;
                    font-weight: 400;
                    font-size: 18px;
                    &.btn-wsp {
                        background-color: #28C863;
                        border: 1px solid #28C863;
                    }
                    img {
                        margin-right: .4rem;
                        transform: scale(1.1) translateY(-2px);
                    }
                }
            }
        }
    }
    
}

.bottom-legal {
    background: #E5E4E4;
    padding: 2rem 0rem;
    .container {
        p {
            margin-bottom: 0px;
            font-size: 14px;
            font-weight: 400;
            color:$black18;
        }
    }
}

#_plantas.plantas.plantas_v2 {
    padding: 4rem 0rem;
}

#_plantas.plantas.plantas_v2 .container h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    color: #005FAE;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

#_plantas.plantas.plantas_v2 .w-plantas .menu-plantas a {
    font-size: .77rem;
    font-weight: 300;
    color: #393939;
    display: block;
    padding: 1rem .6rem;
    text-align: center;
}

#_plantas.plantas.plantas_v2 .w-plantas .menu-plantas a.activo {
    color: #005fae;
    font-weight: 700;
    background: #fff;
}
