.proyectos-ei {
  .container {
    .row {
      .box-pei {
        position: relative;
        margin-bottom: 2rem;
        .box-img {
          position: relative;
          display: flex;
          align-items: center;
          &:hover {
            figure {
              visibility: hidden;
            }
            span {
              // visibility: hidden;
            }
            .box-video.media-container .box-ver-proyecto {
              display: inline-block;
            }
          }
          img {
            width: 100%;
          }
          .box-video {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            &:hover {
              video {
                visibility: visible;
                opacity: .8;
              }
            }
            video {
              visibility: hidden;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              object-fit: cover;
            }
            .box-ver-proyecto {
              position: absolute;
              margin-top: auto;
              margin-bottom: auto;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              text-align: center;
              top:50%;
              bottom:0;
              display: none;
              a {
                color: $white;
                background-color: $azulT;
                padding: 1rem 1.5rem;
                font-weight: bold;
                border: 1px solid $white;
              }
            }
          }
          .box-textos-extra {
            span {
              display: inline-block;
              background: transparent;
              position: absolute;
              top: 1rem;
              right: 1rem;
              z-index: 2;
              color: $white;
              font-weight: bold;
              padding: .5rem;
            }
            &.celeste {
              span {
                background: $celeste;
              }
            }
            &.azul {
              span {
                background: $azulCat;
              }
            }
          }
        }
        .box-texto {
          margin-top: 1rem;
          span {
            &.ubicacion {
              display: flex;
              align-items: center;
              color: $gris;
              font-size: 14px;
              img {
                margin-right: .3rem;
              }
            }
          }
          h3 {
            font-size: 23px;
            font-weight: 500;
            color: $black39;
          }
          .box-datos {
            display: flex;
            justify-content: flex-start;
            flex: 1;
            align-items: center;
            width: 100%;
            @include respond-to(576px) {
              justify-content: space-between;
            } 
            p {
              width: auto;
              padding: 0rem 1rem;
              margin-bottom: 0px;
              display: flex;
              align-items: center;
              min-height: 40px;
              font-weight: bold;
              color: $black39;
              @include respond-to(576px) {
                font-size: 12px;
                display: flex;
                flex-direction: column;
                padding: 0rem .5rem;
                flex: 1;
              } 
              img {
                margin-right: .3rem;
              }
              &.dato-tipo {
                padding-left: 0px;
                border-right: 1px solid #E5E7EA;
                @include respond-to(991px) {
                  padding-left: .5rem;
                } 
                img {
                  transform: translateY(-2px);
                }
              }
              &.dato-dor {
                border-right: 1px solid #E5E7EA;
                img {
                  transform: translateY(-2px);
                }
              }
              &.dato-mts {
                border-right: 1px solid #E5E7EA;
                
                @include respond-to(576px) {
                  white-space: nowrap;
                } 
                img {
                  transform: translateY(-1px);
                }
              }
              &.dato-uf {
                span {
                  display: contents;
                  font-weight: normal;
                }
              }
            }

          }
        }
      }
    }
  }
}

.proyectos-destacados {
  position: relative;
  padding: 3rem 0rem;
  padding-bottom: 6rem;
  overflow-x: hidden;
  @include respond-to(991px) {
    padding-bottom: 2rem;
  }
  h2 {
    @include respond-to(576px) {
      font-size: 38px;
      margin-bottom: 1rem;
    } 
  } 
  .box-pei {
    position: relative;
    margin-bottom: 2rem;
    .box-img {
      position: relative;
      display: flex;
      align-items: center;
      &:hover {
        figure {
          // visibility: hidden;
        }
        span {
          // visibility: hidden;
        }
        .box-video.media-container .box-ver-proyecto {
          display: inline-block;
        }
      }
      img {
        width: 100%;
      }
      .box-video {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        &:hover {
          video {
            visibility: visible;
            opacity: .8;
          }
        }
        video {
          visibility: hidden;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
        }
        .box-ver-proyecto {
          position: absolute;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          top:50%;
          bottom:0;
          display: none;
          a {
            color: $white;
            background-color: $azulT;
            padding: 1rem 1.5rem;
            font-weight: bold;
            border: 1px solid $white;
          }
        }
      }
      .box-textos-extra {
        span {
          display: inline-block;
          background: transparent;
          position: absolute;
          top: 1rem;
          right: 1rem;
          z-index: 2;
          color: $white;
          font-weight: bold;
          padding: .5rem;
        }
        &.celeste {
          span {
            background: $celeste;
          }
        }
        &.azul {
          span {
            background: $azulCat;
          }
        }
      }
    }
    .box-texto {
      margin-top: 1rem;
      span {
        &.ubicacion {
          display: flex;
          align-items: center;
          color: $gris;
          font-size: 14px;
          img {
            margin-right: .3rem;
          }
        }
      }
      h3 {
        font-size: 23px;
        font-weight: 500;
        color: $black39;
      }
      .box-datos {
        display: flex;
        justify-content: flex-start;
        flex: 1;
        align-items: center;
        width: 100%;
        @include respond-to(991px) {
          justify-content: space-around;
        } 
        p {
          width: auto;
          padding: 0rem 1rem;
        }
      }
    }
  }
  .box-ref {
    visibility: hidden;
  }
  .box-swiper {
    position: absolute;
    max-width: 1428px;
    top: 3rem;
    right: 20rem;
    transform: translateX(30rem);
    @include respond-to(991px) {
      position: relative;
      top: unset;
      right: unset;
      transform: translateX(0rem);
    } 
  }
  .box-datos {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    align-items: center;
    width: 100%;
    p {
      width: auto;
      padding: 0rem 1rem;
      margin-bottom: 0px;
      display: flex;
      align-items: center;
      min-height: 40px;
      font-weight: bold;
      color: $black39;
      font-size: 14PX;
      img {
        margin-right: .3rem;
      }
      // &.dato-tipo {
      //   padding-left: 0px;
      //   border-right: 1px solid #E5E7EA;
      //   img {
      //     transform: translateY(-2px);
      //   }
      // }
      &.dato-dor {
        padding-left: 0px !important;
        // border-right: 1px solid #E5E7EA;
        img {
          transform: translateY(-2px);
        }
      }
      &.dato-mts {
        // border-right: 1px solid #E5E7EA;
        img {
          transform: translateY(-1px);
        }
      }
      &.dato-uf {
        span {
          display: contents;
          font-weight: normal;
        }
      }
    }

  }
  .container {
    .box-ref {
      @include respond-to(991px) {
        display:none;
      }
    }
  }
  .container-fluid {
    @include media-between(768px, 991px) {
      max-width: 720px;
    }
    @include respond-to(991px) {
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      padding-right: 20px;
    } 
    @include respond-to(768px) {
      max-width: 540px;
    } 
  }
}

.proyecto-single {
  position: relative;
  height: 680px;
  overflow: hidden;
  .container, .row {
    height: 100%;
  }
  .fondo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }
  .box-textos {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include respond-to(768px) {
      justify-content: flex-start;
      padding-top: 4rem;
    }
    h4 {
      font-size: 32px;
      font-weight: bold;
      color: $white;
      @include respond-to(768px) {
        font-size: 28px;
        margin-bottom: 0px;
      }
    }
    h2 {
      font-size: 62px;
      font-weight: bold;
      text-transform: uppercase;
      margin: .5rem;
      color: $white;
      @include respond-to(768px) {
        font-size: 44px;
      }
    }
    p {
      font-size: 18px;
      font-weight: bold;
      color: $white;
    }
  }
  .wrap {
    height: 100%;
    width: 100%;
    position: relative;
    .box-datos {
      display: flex;
      width: 100%;
      justify-content: space-around;
      position: absolute;
      bottom: 0;
      height: 215px;
      @include respond-to(768px) {
        flex-direction: column;
        height: unset;
        bottom: 1.5rem;
      } 
      .dor, .sup, .pri {
        border-right: 1px solid $white;
        padding-right: 2rem;
        @include respond-to(768px) {
          border-right: 0px;
          border-bottom: 1px solid $white;
        }
      }
      .pri {
        @include respond-to(768px) {
          border-bottom: 0px;
        }
      }
      p {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        @include respond-to(768px) {
          font-size: 24px;
          margin-bottom: 1rem;
        }
        span {
          font-size: 36px;
        }
      }
    }
  }
  video {
    filter: brightness(.7);
  }
}

.buscador-proyectos {
  transform: translateY(-3rem);
  z-index: 99;
  position: relative;
  @include respond-to(579px) {
    transform: translateY(-3.5rem);
  } 
  .container {
    .box-buscador {
      padding-top: .5rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-bottom: 1rem;
      background-color: rgba(255, 255, 255, 0.8);
      max-width: 1100px;
      margin: 0 auto;
      border-radius: 5px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transition: width 0.8s ease;
      h2 {
        text-align: center;
        color: $black39;
        font-weight: bold;
      }
      .box-inputs {
        display: flex;
        align-items: center;
        padding-top: .5rem;
        label {
          color: $black39;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: .3rem;
          @include respond-to(991px) {
            &.invisible {
              display: none !important;
            }
          } 
        }
        button {
          margin-top: 0rem;
          @include respond-to(991px) {
           width: 100%;
        } 
        }
        select {
          height: 55px;
          @include respond-to(991px) {
            margin-bottom: 1rem;
          } 
        }
        .box-buscar {
          @include respond-to(991px) {
            order: 5;
          }         
        }
        .box-switch {
          @include respond-to(991px) {
            order: 3;
          } 
        }
        .box-ba {
          @include respond-to(991px) {
            order: 4;
          } 
        }
      }
      .buscador-avanzado {
        display: none;
        @include respond-to-desk(991px) {
          margin-top: 1rem !important;
        }
        .box-inputs-1 {
          display: flex;
          width: 100%;
          .input-group {
            &:first-child {
              input {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
              }
            }
            &:last-child {
              input {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
              }
            }
            input {
              height: 55px;
              width: 50%;
              font-size: 14px;
            }
          }
          
          
        }
        .box-inputs-2 {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .cont-select  {
            width: 50%;
            select {
              height: 55px;
              width: 90%;
              @include respond-to(768px) {
                width: 95%;
              } 
            }
          }
          .cont-select:last-child {
            @include respond-to(991px) {
              transform: translateX(5px);
            }
            @include respond-to(768px) {
              transform: translateX(5%);
            } 
          }
        }
        .box-inputs-3 {
          select {
            height: 55px;
          }
          label {
            width: 100%;
            text-align: left;
            @include respond-to(991px) {
              padding-left: 10px;
            } 
            @include respond-to(768px) {
              padding-left: 0px;
            }  
          }
        }
        .box-inputs-4 {
          display: flex;
          align-items: center;
          @include respond-to(991px) {
            margin-bottom: 1rem;
          }         
          label {
            font-size: 14px;
            margin-bottom: 0px;
            transform: translateY(2px);
          }
        }
        .inputs-caracteristicas {
          @include respond-to(991px) {
            width: 67%;
            padding-right: 0px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
          }
          @include respond-to(768px) {
            width: 100%;
            padding-right: 20px;
          }          
        }
        .box-inputs-3 {
          @include respond-to(991px) {
            width: 33%;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }   
          @include respond-to(768px) {
            width: 100%;
            padding-left: 20px;
          } 
          select {
            @include respond-to(991px) {
             max-width: 176px;
            } 
            @include respond-to(768px) {
              max-width: unset;
            } 
          }      
        }
        label {
          color: $black39;
          font-size: 15px;
          font-weight: bold;
          margin-bottom: .3rem;
          
        }
        .col-lg-3 {
          @include respond-to-desk(991px) {
            width: 26%;
          }
        }
        .col-lg-2 {
          @include respond-to-desk(991px) {
            width: 24%;
          }
        }
      }



    }
  }

.box-switch {
  display: flex;
  align-items: center;
  @include respond-to(991px) {
    padding-top: 0px !important;
    margin-bottom: .5rem;
 } 
}

.box-switch p {
  margin-bottom: 0px;
  color: $black39;
  font-size: 14px;
  font-weight: 700;
}

  /* Estilo del contenedor */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 5px;
  margin-right: 1rem;
}

/* Oculta el checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Estilo de la parte visible (el fondo del switch) */
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #E5E7EA;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

/* El círculo interior */
.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: -1px;
  bottom: -7px;
  background-color: #B5B6B7;
  border-radius: 50%;
  transition: 0.4s;
}

/* Cuando el checkbox está activado (ON) */
.switch input:checked + .slider {
  background-color: $azul;
}

.switch input:checked + .slider::before {
  background-color: $azul;
}

/* Mueve el círculo a la derecha */
.switch input:checked + .slider::before {
  transform: translateX(24px);
}

.switch-mobile {
  margin-bottom: 1rem;
}

// .switch-mobile {
//   @include respond-to-desk(991px) {
//     display:none;
//   } 
// }

// .switch-desk {
//   @include respond-to(991px) {
//     display:none;
//   } 
// }




}

